
*{
margin: 0%;
}
body{
background-color: #8c8cb5;
}
.a{
color:white;
background-color:brown;
text-align: center;
padding-bottom: 20px;
padding-top:20px ;
}
h1{
margin-top: 10px;
font-size: 40px;
}
nav{
background-color:gray;
}
ul{
list-style-type:none;
text-align: right;
display: inline-block;

}
li{
display: inline-block;
color: black;
font-size: 20px;
font-weight: bold;
padding: 10px;
padding-right: 80px;
}
.search{
width: 29.6%;
height: 6%;

border-radius: 10px;
padding-left: 20px;
font-size: 15px;
margin-left: 95px;
}
.s{
height: 5%;
margin-left: -80px;
background-color: green;
border-radius: 10px;
color: white;
}
.s:hover{
    background-color: blue;
    cursor: pointer;
    
}

.app{
margin-top: 3%;
padding: 20px;
background-color:black;
display: inline-block;
text-align: justify;
border: 10px;
border-style: solid;
width: 300px;
margin-right: 30px;
color: #ffab28;

}

.app:hover{
    background-color: rgb(89, 0, 255);
    transition: 0.8s;
}
.ih{
color: white;
}
p{
padding: 10px;
}
img{
padding: 5px;
}
.an{
color: black;
border: none;
cursor: pointer;
}
li:hover{
    background-color: blue;
    color: white;
}
li:active{
    background-color: red;
    color: white;
}
footer{
background-color: gray;
display: block;
clear: both;
text-align: center;
padding: 10px;
margin-top: 18px;
font-size: 18px;
bottom: 0%;

}
a{
text-align: justify;
}

.contr{
    display: inline-block;
    left: 0%;
}

.rcont{
    background-color: silver;
    margin-top: 2%;
    margin-bottom: 10px;
    margin-right: 5px;
    display: inline-block;
    border: 1px;
    text-align: justify;
}

.contr2{
    display: flex;
    flex-direction: column;
}

.appetizers{
    width:178px;
    height:172px;
    padding: 10px;
}




